<div ng-controller="LeaguesController">
    <form class="form-horizontal" ng-submit="create()">
        <div class="control-group">
            <label class="control-label" for="restaurant">Restaurant Name</label>
            <div class="controls restname">
                <input type="text" ng-model="league.restaurant" id="restaurant" placeholder="Restaurant Name">
                <input type="text" ng-model="league.phonenumber" id="phonenumber" placeholder="Phone Number">
            </div>
            <label class="control-label" for="item">Menu Items</label>
            <div class="controls items">
                <input type="text" ng-model="league.item1" id="item" placeholder="Item1">
                <input type="text" ng-model="league.item2" id="item" placeholder="Item2">
                <input type="text" ng-model="league.item3" id="item" placeholder="Item3">
                <input type="text" ng-model="league.item4" id="item" placeholder="Item4">
                <input type="text" ng-model="league.item5" id="item" placeholder="Item5">
                <input type="text" ng-model="league.item6" id="item" placeholder="Item6">
                <input type="text" ng-model="league.item7" id="item" placeholder="Item7">
                <input type="text" ng-model="league.item8" id="item" placeholder="Item8">
                <input type="text" ng-model="league.item9" id="item" placeholder="Item9">
                <input type="text" ng-model="league.item10" id="item" placeholder="Item10">
                <input type="text" ng-model="league.item11" id="item" placeholder="Item11">
                <input type="text" ng-model="league.item12" id="item" placeholder="Item12">
                <input type="text" ng-model="league.item13" id="item" placeholder="Item13">
                <input type="text" ng-model="league.item14" id="item" placeholder="Item14">
                <input type="text" ng-model="league.item15" id="item" placeholder="Item15">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn">
            </div>
            <div>
                <a href="#!/leagues">Back to List</a>
            </div>
        </div>
    </form>
</div>