<div ng-controller="LeaguesController" ng-init="findOne()">
    <h2>{{ league.restaurant }}</h2>
    <p><strong>Phone: </strong>{{ league.phonenumber }}</p>
    <p>{{ league.item1 }}</p>
    <p>{{ league.item2 }}</p>
    <p>{{ league.item3 }}</p>
    <p>{{ league.item4 }}</p>
    <p>{{ league.item5 }}</p>
    <p>{{ league.item6 }}</p>
    <p>{{ league.item7 }}</p>
    <p>{{ league.item8 }}</p>
    <p>{{ league.item9 }}</p>
    <p>{{ league.item10 }}</p>
    <p>{{ league.item11 }}</p>
    <p>{{ league.item12 }}</p>
    <p>{{ league.item13 }}</p>
    <p>{{ league.item14 }}</p>
    <p>{{ league.item15 }}</p>



    <br>
    <a href="#!/leagues">View all Restaurants</a>
</div>